# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=database_name;
DB_USER=database_user
DB_PASS=database_password

# Mail
MAIL_FROM=noreply@example.com
MAIL_FROM_NAME=Voices Job Form
MAIL_TO=mail@example.com

# File uploads
UPLOAD_MAX_SIZE=10971520
UPLOAD_DIR=uploads